{% load staticfiles %}
{% block favicon %}<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>{% endblock %}

{% block linkcss %}<link rel="stylesheet" type="text/css" href="{% static 'designer.css' %}" />{% endblock %}
<title>{% block title %}{% endblock %}</title>
<script type="text/javascript" src="{% static 'scripts/jquery-2.1.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery.layout.min-1.2.0.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/formmanager.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/designertoolbox.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/designercanvas.js' %}"></script>

{% block scripts %}{% endblock %}

<table class="designer">
    <tr>
        <td class="infoPane" colspan="2">
            {% block info %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td class="toolboxPane">
            <table style="padding: 0;margin: 0;width: 100%;height: 100%;">
                <tr>
                    <td>
                        <div class="toolboxChildPane">
                            {% block page_toolbox %}{% endblock %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="toolboxChildPane">
                            {% block propbag_container %}{% endblock %}
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        <td class="canvasPane">
            {% block page_designer %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            {% block page_status %}{% endblock %}
        </td>
    </tr>
</table>