<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    {% block head %}{% endblock %}

    <head>
        {% block linkcss %}<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        <script type="text/javascript" src="{% static 'scripts/jquery-2.1.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/home.js' %}"></script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <table class="page_content">
            <tr>
                <td class="center">
                    <img src="{% static 'images/rz_header.png' %}">
                </td>
            </tr>

            <tr>
                <td>
                    <div id="content">
                        {% block content %}{% endblock %}
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>