.infoPane {
    border: dodgerblue 1px solid;
    background-color: #f6f6f6;
    text-align: center;
    font-family: candara;
    font-size: 16px;
    color: #003366;
}

.toolboxPane {
    border: dodgerblue 1px solid;
    background-color: #f6f6f6;
    width: 20%;
    height: 100%;
}

.toolboxChildPane {
    border: lightgrey 1px solid;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.canvasPane {
    border: dodgerblue 1px solid;
    background-color: #f6f6f6;
    width: auto;
    height: 100%;
}

.statusBar {
    width: 100%;
    padding: 0;
}

.statusPane {
    border: darkred 1px solid;
    height: 20px;
}

.statusInfo {
    font-family: monospace;
    font-size: 10px;
    color: #333333;
}

.toolBoxItem {
    position: relative;
    border: #EDF3FE 1px outset;
    width: 65px;
    height: 15px;
    font-family: Arial;
    font-size: 10px;
}

.designer {
    width: 100%;
    height: 100%;
    background-color: #EDF3FE;
}

.toolbox {
    width: 100%;
    height: 100%;
}

.canvas {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#canvas {
    /*border: dodgerblue 1px solid;*/
    width: 100%;
    height: 100%;
}

.selectedFormItem {
    border: darkcyan 1px dashed;
}

.propertyBag {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.propertyName {
    font-family: Courier;
    font-size: 10px;
    color: #444444;
}

.propertyField {
    border: black 1px solid;
    font-family: Courier;
    font-size: 10px;
    color: #444444;
}

.propertyChange {
    font-style: oblique;
    color: darkgreen;
}